<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>881703935073-sav7sgmrd2m4rekf3kgjug8qolcpa8dq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.881703935073-sav7sgmrd2m4rekf3kgjug8qolcpa8dq</string>
	<key>API_KEY</key>
	<string>AIzaSyAaJsVpO77aIjxwf0x0a050teTPToSkOrk</string>
	<key>GCM_SENDER_ID</key>
	<string>881703935073</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bookShop</string>
	<key>PROJECT_ID</key>
	<string>beitelhkma</string>
	<key>STORAGE_BUCKET</key>
	<string>beitelhkma.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:881703935073:ios:316c4175c824338cce5e20</string>
</dict>
</plist>